*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}

.link{
    display: flex;
    justify-content: right;
    margin-right: 2vw;
}

h2{
    color: white;
}

a{
    text-decoration: underline white;
}

header{
    background-color: rgb(165, 0, 165);
    height: 20vh;
}

footer{
    background-color: rgb(165, 0, 165);
    height: 20vh;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.darkPurple{
    height: 60vh;
    width: 25vw;
    background-color: rgb(44, 0, 53);
}

.purple{
    height: 60vh;
    width: 100vw;
    background-color: rgb(97, 0, 117);
}
