*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

/*header{
    background-color: rgb(165, 0, 165);
    height: 33.33%;
}

main{
    background-color: rgb(97, 0, 117);
    height: 33.33%;
}

footer{
    background-color: darkblue;
    height: 33.33%;
}
*/
.pink{
    height: 80px;
    width: 80px;
    background-color: rgb(165, 0, 165);
    border: 5px solid rgb(165, 0, 165);
}

.purple{
    height: 80px;
    width: 80px;
    background-color: rgb(97, 0, 117);
    border: 5px solid rgb(97, 0, 117);
}

.blue{
    height: 80px;
    width: 80px;
    background-color: darkblue;
    border: 5px solid darkblue;
}

.container{
    border: 10px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}